n8n/workflows/workflow.json
{
  "createdAt": "2025-09-16T08:48:18.924Z",
  "updatedAt": "2025-09-18T09:55:35.000Z",
  "id": "RXedN969Z6PFvPBy",
  "name": "L.O.W",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-352, 0],
      "id": "983feb53-03e0-41dd-b777-dfed5eb19ca5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "={{ $env.WORKDIR }}/test-input.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-224, 0],
      "id": "16fbbc54-93e8-4c82-8fe9-7fe8a8622865",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-96, 0],
      "id": "22ed7c8c-202b-4699-84dc-435d1eb432f8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Convert MD').item.json.command }}",
                    "rightValue": "Move File",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0aff0432-ec48-4b88-a9e2-d1422ff6350c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcd9a9fa-9214-4a35-a5d0-b2edb8e673f4",
                    "leftValue": "={{ $('Convert MD').item.json.command }}",
                    "rightValue": "Email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [288, 0],
      "id": "db8b4475-3797-41a1-ad55-2394f29f9091",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Documentation Logs\n",
        "height": 192,
        "width": 1520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [96, 448],
      "typeVersion": 1,
      "id": "f44a786c-3f54-4366-ad58-3441554721c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Convert MD').item.json.emailecipient }}",
        "subject": "={{ $('Convert MD').item.json.emailubject }}",
        "emailType": "text",
        "message": "={{ $('Convert MD').item.json.emailessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [576, 256],
      "id": "95bff975-a80b-4a7a-9890-14651648f6ad",
      "name": "Send a message",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Email\n",
        "height": 224,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [496, 192],
      "typeVersion": 1,
      "id": "66bf29de-4cb9-47c8-b639-dd472b8cfbd8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.last().json.logs || [];\n\nlogs.push({\n  step: $input.first().json.command || \"Move File\",\n  input: {\n    source: $input.first().json.targetileath,\n    destination: $input.first().json.destination,\n  },\n  result: \"File moved successfully\",\n  timestamp: new Date().toISOString(),\n});\n\nreturn { logs };\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 400],
      "id": "e5ce6524-7e00-40dc-afe9-2696b959dbdb",
      "name": "Log Move File"
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.last().json.logs || [];\n\nlogs.push({\n  step: $('Log Command Interpretation').first().json.logs[0].step,\n  input: {\n    to: $('Convert MD').first().json.emailecipient,\n    subject: $('Convert MD').first().json.emailubject,\n    message: $('Convert MD').first().json.emailessage,\n  },\n  result: \"Email sent successfully\",\n  timestamp: new Date().toISOString(),\n});\n\nreturn { logs };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [704, 496],
      "id": "7b06b100-ed7e-4baf-9bdc-1147380e1288",
      "name": "Log Send Email"
    },
    {
      "parameters": {
        "content": "## Move File\n\n",
        "height": 224,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [496, -304],
      "typeVersion": 1,
      "id": "fb454b05-257a-4a35-ab2e-2af7a833bf0d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1296, 496],
      "id": "070f8c73-489c-40cc-b25e-851c203aadfe",
      "name": "Convert to File",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const logs = $json.logs || [];\n\nlet md = \"# Workflow Report\\n\\n\";\nfor (const entry of logs) {\n  md += `## Step: ${entry.step}\\n`;\n  md += `- Time: ${entry.timestamp}\\n`;\n  if (entry.input) md += `- Input: ${JSON.stringify(entry.input)}\\n`;\n  md += `- Result: ${entry.result}\\n\\n`;\n}\n\nreturn {\n  json: { report: md }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1088, 496],
      "id": "c4328f3f-0754-4261-9a35-8e80c0c86d1a",
      "name": "Compile Logs",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.WORKDIR }}/output.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1488, 496],
      "id": "28e33988-63ef-42da-a11c-e69e773ddd80",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "const logs = $json.logs || [];\nlogs.push({\n  step: $input.first().json.command,\n  result: 'Command Interpreted successfully',\n  timestamp: new Date().toISOString()\n});\nreturn { logs };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 496],
      "id": "500f6d84-dfd0-4307-8e7b-70ca1c3d71cd",
      "name": "Log Command Interpretation"
    },
    {
      "parameters": {
        "jsCode": "// ---- guard: require an inbound item ----\nif (!items.length) {\n  throw new Error(\"No input items. Feed Markdown via Set/HTTP/Move Binary Data so it appears in json.data (or json.text/markdown).\");\n}\n\nfunction toCamel(s) {\n  return s\n    .toLowerCase()\n    .replace(/[^a-z0-9]+([a-z0-9])/g, (_, c) => c.toUpperCase())\n    .replace(/[^a-z0-9]/g, \"\");\n}\n\nreturn items.map(({ json }) => {\n  const text = String(json.data ?? json.text ?? json.markdown ?? \"\");\n  if (!text) {\n    throw new Error(\"Missing Markdown in json.data/text/markdown on an input item.\");\n  }\n\n  const lines = text.split(/\\r?\\n/);\n\n  /** @type {Record<string, string>} */\n  const out = {};\n  /** @type {string} */ let currentKey = \"\";\n  /** @type {string[]} */ let buffer = [];\n\n  const flush = () => {\n    if (!currentKey) return;\n    const val = buffer.join(\"\\n\").trim();\n    out[currentKey] = val;\n    buffer = [];\n  };\n\n  for (const raw of lines) {\n    const line = raw.trim();\n    if (!line) continue;\n\n    const h = line.match(/^#+\\s*(.+)$/);\n    if (h) {\n      flush();\n      currentKey = toCamel(h[1].trim());\n      continue;\n      }\n    buffer.push(line);\n  }\n  flush();\n\n  return { json: out };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [32, 0],
      "id": "ca10740c-b353-4339-b600-f0dc6f5ce38d",
      "name": "Convert MD",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=mv \"{{ $('Convert MD').item.json.targetileath }}\" \"{{ $('Convert MD').item.json.destination }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [576, -240],
      "id": "090940f4-4ada-4a3d-bb95-6fc1aa27f119",
      "name": "Move File Command",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          { "node": "Read/Write Files from Disk", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          { "node": "Extract from File", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          { "node": "Convert MD", "type": "main", "index": 0 }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          { "node": "Move File Command", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send a message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          { "node": "Log Send Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Move File": {
      "main": [
        [
          { "node": "Compile Logs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Send Email": {
      "main": [
        [
          { "node": "Compile Logs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Compile Logs": {
      "main": [
        [
          { "node": "Convert to File", "type": "main", "index": 0 }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          { "node": "Read/Write Files from Disk1", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Command Interpretation": {
      "main": [
        [
          { "node": "Switch", "type": "main", "index": 0 }
        ]
      ]
    },
    "Convert MD": {
      "main": [
        [
          { "node": "Log Command Interpretation", "type": "main", "index": 0 }
        ]
      ]
    },
    "Move File Command": {
      "main": [
        [
          { "node": "Log Move File", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {},
  "tags": []
}
